@import './palette.scss';
@import './fonts.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: $fontFamily;
}

html,
body {
    color: $stylish-black;
}

[dir] {
    font-family: $fontFamily;

    body {
        font-family: $fontFamily;
    }
}

[dir='rtl'] {
    font-family: $rtlFontFamily;

    body {
        font-family: $rtlFontFamily;
    }
}

#waveform:hover #hover {
    opacity: 1;
}
#time,
#duration {
    position: absolute;
    z-index: 11;
    top: 46%;
    margin-top: -1px;
    transform: translateY(-50%);
    font-size: 11px;
    background: rgba(0, 0, 0, 0.75);
    padding: 2px;
    color: #ddd;
}
#time {
    left: 0;
}
#duration {
    right: 0;
}
